<div class="widget">
    <div class="section-heading heading-dark">
        <h3 class="item-heading">ABOUT ME</h3>
    </div>
    <div class="widget-about">
        <figure class="rounded"><img src="~/img/logo.png" alt="about"></figure>
        <figure class="author-signature"><img src="~/img/signature.png" alt="about"></figure>
        <p>
            I’m Sahar, I focus on finding, cooking, developing, perfecting,
            movie, photo the recipes on site also  you can follow me in the youtube,
            aparat and  social media that there is in the site.
        </p>
    </div>
</div>