<div class="tag-share">
    <ul>
        <li>
            <ul class="inner-share">
                <li>
                    <a href="#">
                        <i class="fab fa-telegram"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-youtube"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-film"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-envelope"></i>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>