        <!-- Footer Area Start Here -->
<footer class="ranna-bg-dark">
    <div class="container">
        <div class="footer-menu">
            <ul>
                <li><a href="#">TELEGRAM</a></li>
                <li><a href="#">WHATSAPP</a></li>
                <li><a href="#">YOUTUBE</a></li>
                <li><a href="#">APARAT</a></li>
                <li><a href="#">EMAIL</a></li>
                <li><a href="#">INSTAGRAM</a></li>
            </ul>
        </div>
        <div class="copyright">© Design By <a href="https://cnetcore.ir">Hamed S.H</a></div>
    </div>
</footer>
<!-- Footer Area End Here -->