<!-- Header Area Start Here -->
<header class="header-one">
    <div id="header-main-menu" class="header-main-menu position-@ViewBag.HeaderPos">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
                        <a class="navbar-brand" href="#">
                            <img src="~/img/logo.png" width="96" height="96" class="d-inline-block align-top" alt="">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon" style="font-size:2.5rem;"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link text-danger mr-5 font-weight-bold" asp-action="Index" asp-controller="Home">Home</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link text-white mr-5 font-weight-bold" asp-action="Category" asp-controller="Home">Category</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link text-white mr-5 font-weight-bold" asp-action="Recipes" asp-controller="Home">Recipes</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link text-white mr-5 font-weight-bold" asp-action="About" asp-controller="Home">About</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link text-white mr-5 font-weight-bold" asp-action="Contact" asp-controller="Home">Contact</a>
                                </li>
                            </ul>
                            <ul>
                                <li class="nav-social">
                                    <a href="" class="fab fa-telegram mr-5"></a>
                                    <a href="" class="fab fa-whatsapp mr-5"></a>
                                    <a href="" class="fab fa-instagram mr-5"></a>
                                    <a href="" class="fab fa-youtube mr-5"></a>
                                    <a href="" class="fa fa-film mr-5"></a>
                                    <a href="" class="fa fa-envelope mr-5"></a>
                                </li>

                            </ul>

                        </div>
                    </nav>
                </div>

            </div>
        </div>
    </div>
    
</header>
<!-- Header Area End Here -->