<base href="~" />
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Chef - @ViewBag.Title</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Favicon -->
<link rel="shortcut icon" href="~/img/favicon.png">
<!-- Normalize Css -->
<link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true">
<!-- Main Css -->
<link rel="stylesheet" href="~/css/main.css"  asp-append-version="true">
<!-- Bootstrap Css -->
<link rel="stylesheet" href="~/css/bootstrap.min.css"  asp-append-version="true">
<!-- Animate CSS -->
<link rel="stylesheet" href="~/css/animate.min.css"  asp-append-version="true">
<!-- Fontawesome CSS -->
<link rel="stylesheet" href="~/css/fontawesome-all.min.css"  asp-append-version="true">
<!-- Flaticon CSS -->
<link rel="stylesheet" href="~/css/fonts/flaticon.css"  asp-append-version="true">
<!-- Owl Carousel CSS -->
<link rel="stylesheet" href="~/css/owl.carousel.min.css"  asp-append-version="true">
<link rel="stylesheet" href="~/css/owl.theme.default.min.css"  asp-append-version="true">
<!-- Custom Css -->
<link rel="stylesheet" href="~/css/style.css"  asp-append-version="true">
<!-- Modernizr Js -->
<script src="~/js/modernizr-3.6.0.min.js"></script>