<div class="widget">
    <div class="section-heading heading-dark">
        <h3 class="item-heading">LATEST RECIPES</h3>
    </div>
    <div class="widget-latest">
        <ul class="block-list">
            <li class="single-item">
                <div class="item-img">
                    <a href="#"><img src="~/img/product/latest1.jpg" alt="Post"></a>
                    <div class="count-number">1</div>
                </div>
                <div class="item-content">
                    <div class="item-ctg">DESERT</div>
                    <h4 class="item-title">
                        <a href="#">
                            Salami Oven Roasted are
                            Mozzarella Oelette
                        </a>
                    </h4>
                    <div class="item-post-by">
                        <a href="single-blog.html">
                            <i class="fas fa-user"></i><span>by</span>
                            John Martin
                        </a>
                    </div>
                </div>
            </li>
            <li class="single-item">
                <div class="item-img">
                    <a href="#"><img src="~/img/product/latest2.jpg" alt="Post"></a>
                    <div class="count-number">2</div>
                </div>
                <div class="item-content">
                    <div class="item-ctg">DESERT</div>
                    <h4 class="item-title">
                        <a href="#">
                            Salami Oven Roasted are
                            Mozzarella Oelette
                        </a>
                    </h4>
                    <div class="item-post-by">
                        <a href="single-blog.html">
                            <i class="fas fa-user"></i><span>by</span>
                            John Martin
                        </a>
                    </div>
                </div>
            </li>
            <li class="single-item">
                <div class="item-img">
                    <a href="#"><img src="~/img/product/latest3.jpg" alt="Post"></a>
                    <div class="count-number">3</div>
                </div>
                <div class="item-content">
                    <div class="item-ctg">DESERT</div>
                    <h4 class="item-title">
                        <a href="#">
                            Salami Oven Roasted are
                            Mozzarella Oelette
                        </a>
                    </h4>
                    <div class="item-post-by">
                        <a href="single-blog.html">
                            <i class="fas fa-user"></i><span>by</span>
                            John Martin
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>