<div class="widget">
    <div class="section-heading heading-dark">
        <h3 class="item-heading">INSTAGRAM</h3>
    </div>
    <div class="widget-instagram">
        <ul>
            <li>
                <div class="item-box">
                    <img src="img/social-figure/social-figure9.jpg" alt="Social Figure" class="img-fluid">
                    <a href="#" class="item-icon"><i class="fab fa-instagram"></i></a>
                </div>
            </li>
            <li>
                <div class="item-box">
                    <img src="img/social-figure/social-figure10.jpg" alt="Social Figure" class="img-fluid">
                    <a href="#" class="item-icon"><i class="fab fa-instagram"></i></a>
                </div>
            </li>
            <li>
                <div class="item-box">
                    <img src="img/social-figure/social-figure11.jpg" alt="Social Figure" class="img-fluid">
                    <a href="#" class="item-icon"><i class="fab fa-instagram"></i></a>
                </div>
            </li>
            <li>
                <div class="item-box">
                    <img src="img/social-figure/social-figure12.jpg" alt="Social Figure" class="img-fluid">
                    <a href="#" class="item-icon"><i class="fab fa-instagram"></i></a>
                </div>
            </li>
            <li>
                <div class="item-box">
                    <img src="img/social-figure/social-figure13.jpg" alt="Social Figure" class="img-fluid">
                    <a href="#" class="item-icon"><i class="fab fa-instagram"></i></a>
                </div>
            </li>
            <li>
                <div class="item-box">
                    <img src="img/social-figure/social-figure14.jpg" alt="Social Figure" class="img-fluid">
                    <a href="#" class="item-icon"><i class="fab fa-instagram"></i></a>
                </div>
            </li>
            <li>
                <div class="item-box">
                    <img src="img/social-figure/social-figure15.jpg" alt="Social Figure" class="img-fluid">
                    <a href="#" class="item-icon"><i class="fab fa-instagram"></i></a>
                </div>
            </li>
            <li>
                <div class="item-box">
                    <img src="img/social-figure/social-figure16.jpg" alt="Social Figure" class="img-fluid">
                    <a href="#" class="item-icon"><i class="fab fa-instagram"></i></a>
                </div>
            </li>
            <li>
                <div class="item-box">
                    <img src="img/social-figure/social-figure17.jpg" alt="Social Figure" class="img-fluid">
                    <a href="#" class="item-icon"><i class="fab fa-instagram"></i></a>
                </div>
            </li>
        </ul>
    </div>
</div>