<!-- Popular Recipe Start Here -->
<section class="padding-bottom-45">
    <div class="container">
        <div class="row gutters-60">
            <div class="col-lg-8">
                <div class="section-heading heading-dark">
                    <h2 class="item-heading">POPULAR RECIPES</h2>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="product-box-layout3">
                            <figure class="item-figure">
                                <a href="single-recipe1.html">
                                    <img src="~/img/product/product14.jpg"
                                         alt="Product">
                                </a>
                            </figure>
                            <div class="item-content">
                                <span class="sub-title">BREAKFAST</span>
                                <h3 class="item-title"><a href="single-recipe1.html">Asian Chicken Noodles</a></h3>
                                <ul class="item-rating">
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-empty"><i class="fas fa-star"></i></li>
                                    <li><span>9<span> / 10</span></span> </li>
                                </ul>
                                <p>
                                    Pro sint falli definitiones noel ei verear intellegatpri civibus
                                    consequat efficiantue.Vestibulum ante ipsum primis in fau
                                    cibus orci luctus et ultrices posuere cubilia Curae; Nunc
                                    mattis turpis id aliquet.
                                </p>
                                <ul class="entry-meta">
                                    <li><a href="#"><i class="fas fa-clock"></i>15 Mins</a></li>
                                    <li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li>
                                    <li><a href="#"><i class="fas fa-heart"></i><span>02</span> Likes</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="product-box-layout3">
                            <figure class="item-figure">
                                <a href="single-recipe1.html">
                                    <img src="~/img/product/product15.jpg"
                                         alt="Product">
                                </a>
                            </figure>
                            <div class="item-content">
                                <span class="sub-title">SEA FOOD</span>
                                <h3 class="item-title"><a href="single-recipe1.html">Italiano Salad Mixed</a></h3>
                                <ul class="item-rating">
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-empty"><i class="fas fa-star"></i></li>
                                    <li><span>9<span> / 10</span></span> </li>
                                </ul>
                                <p>
                                    Pro sint falli definitiones noel ei verear intellegatpri civibus
                                    consequat efficiantue.Vestibulum ante ipsum primis in fau
                                    cibus orci luctus et ultrices posuere cubilia Curae; Nunc
                                    mattis turpis id aliquet.
                                </p>
                                <ul class="entry-meta">
                                    <li><a href="#"><i class="fas fa-clock"></i>15 Mins</a></li>
                                    <li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li>
                                    <li><a href="#"><i class="fas fa-heart"></i><span>02</span> Likes</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="product-box-layout3">
                            <figure class="item-figure">
                                <a href="single-recipe1.html">
                                    <img src="~/img/product/product16.jpg"
                                         alt="Product">
                                </a>
                            </figure>
                            <div class="item-content">
                                <span class="sub-title">SALAD</span>
                                <h3 class="item-title"><a href="single-recipe1.html">Maxican Dessert</a></h3>
                                <ul class="item-rating">
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-empty"><i class="fas fa-star"></i></li>
                                    <li><span>9<span> / 10</span></span> </li>
                                </ul>
                                <p>
                                    Pro sint falli definitiones noel ei verear intellegatpri civibus
                                    consequat efficiantue.Vestibulum ante ipsum primis in fau
                                    cibus orci luctus et ultrices posuere cubilia Curae; Nunc
                                    mattis turpis id aliquet.
                                </p>
                                <ul class="entry-meta">
                                    <li><a href="#"><i class="fas fa-clock"></i>15 Mins</a></li>
                                    <li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li>
                                    <li><a href="#"><i class="fas fa-heart"></i><span>02</span> Likes</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="d-lg-block d-xl-none col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="product-box-layout3">
                            <figure class="item-figure">
                                <a href="single-recipe1.html">
                                    <img src="~/img/product/product14.jpg"
                                         alt="Product">
                                </a>
                            </figure>
                            <div class="item-content">
                                <span class="sub-title">BREAKFAST</span>
                                <h3 class="item-title"><a href="single-recipe1.html">Asian Chicken Noodles</a></h3>
                                <ul class="item-rating">
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-empty"><i class="fas fa-star"></i></li>
                                    <li><span>9<span> / 10</span></span> </li>
                                </ul>
                                <p>
                                    Pro sint falli definitiones noel ei verear intellegatpri civibus
                                    consequat efficiantue.Vestibulum ante ipsum primis in fau
                                    cibus orci luctus et ultrices posuere cubilia Curae; Nunc
                                    mattis turpis id aliquet.
                                </p>
                                <ul class="entry-meta">
                                    <li><a href="#"><i class="fas fa-clock"></i>15 Mins</a></li>
                                    <li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li>
                                    <li><a href="#"><i class="fas fa-heart"></i><span>02</span> Likes</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 sidebar-widget-area sidebar-break-md">
                @await Component.InvokeAsync(typeof(ChefSahar.UI.WebUI.Components.Recipes.Components.FeatureArticle.FeatureArticleViewComponent))
                @await Component.InvokeAsync(typeof(ChefSahar.UI.WebUI.Components.Tags.Components.GetAllTagSideBar.GetAllTagSideBarViewComponent))
            </div>
        </div>
    </div>
</section>
<!-- Popular Recipe End Here -->