 <!-- Random Recipe Start Here -->
<section class="padding-bottom-18">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="product-box-layout1">
                    <figure class="item-figure">
                        <a href="single-recipe1.html">
                            <img src="~/img/product/product1.jpg"
                                 alt="Product">
                        </a>
                    </figure>
                    <div class="item-content">
                        <span class="sub-title">BREAKFAST</span>
                        <h3 class="item-title">
                            <a href="single-recipe1.html">
                                Tomatoes Stuffed with Foie and
                                Chanterelles
                            </a>
                        </h3>
                        <ul class="item-rating">
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-empty"><i class="fas fa-star"></i></li>
                            <li><span>9<span> / 10</span></span> </li>
                        </ul>
                        <ul class="entry-meta">
                            <li><a href="#"><i class="fas fa-clock"></i>15 Mins</a></li>
                            <li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li>
                            <li><a href="#"><i class="fas fa-heart"></i><span>02</span> Likes</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="product-box-layout1">
                    <figure class="item-figure">
                        <a href="single-recipe1.html">
                            <img src="~/img/product/product2.jpg"
                                 alt="Product">
                        </a>
                    </figure>
                    <div class="item-content">
                        <span class="sub-title">DESERT</span>
                        <h3 class="item-title">
                            <a href="single-recipe1.html">
                                Pumpkin Cheesecake With
                                GingersnapCrust
                            </a>
                        </h3>
                        <ul class="item-rating">
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-empty"><i class="fas fa-star"></i></li>
                            <li><span>9<span> / 10</span></span> </li>
                        </ul>
                        <ul class="entry-meta">
                            <li><a href="#"><i class="fas fa-clock"></i>15 Mins</a></li>
                            <li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li>
                            <li><a href="#"><i class="fas fa-heart"></i><span>02</span> Likes</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-block d-md-none d-lg-block col-sm-12">
                <div class="product-box-layout1">
                    <figure class="item-figure">
                        <a href="single-recipe1.html">
                            <img src="~/img/product/product3.jpg"
                                 alt="Product">
                        </a>
                    </figure>
                    <div class="item-content">
                        <span class="sub-title">JUICE</span>
                        <h3 class="item-title"><a href="single-recipe1.html">Blueberry Juice with Lemon Crema</a></h3>
                        <ul class="item-rating">
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-empty"><i class="fas fa-star"></i></li>
                            <li><span>9<span> / 10</span></span> </li>
                        </ul>
                        <ul class="entry-meta">
                            <li><a href="#"><i class="fas fa-clock"></i>15 Mins</a></li>
                            <li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li>
                            <li><a href="#"><i class="fas fa-heart"></i><span>02</span> Likes</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Random Recipe End Here -->