
@{
    ViewBag.Title = "404 Not Found";
}

<!-- Error Page Area Start Here -->
<section class="error-page-wrap padding-top-200 padding-bottom-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="error-content-box">
                    <div class="error-figure-wrap">
                        <img src="img/figure/404.png" alt="404" class="img-fluid">
                        <div class="error-center-figure">
                            <img src="img/figure/404-middle.png" alt="404" class="img-fluid">
                        </div>
                    </div>
                    <h2 class="item-title">Sorry! Page Was Not Found</h2>
                    <p class="item-details">
                        The page you are looking is not available or has been removed.
                        Try going to Home Page by using the button below.
                    </p>
                    <a asp-action="Index" asp-controller="Home" class="item-btn">GO TO HOME PAGE</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Error Page Area End Here -->